services:
  immich-server:
    image: ghcr.io/immich-app/immich-server:release
    container_name: immich
    restart: unless-stopped
    ports:
      - "{{index . "web_port"}}:2283"
    environment:
      - DB_HOSTNAME=immich-db
      - DB_DATABASE_NAME=immich
      - DB_USERNAME=immich
      - DB_PASSWORD={{index . "db_password"}}
      - REDIS_HOSTNAME=immich-redis
    volumes:
      - {{index . "upload_location"}}:/usr/src/app/upload
    depends_on:
      immich-db:
        condition: service_healthy
      immich-redis:
        condition: service_healthy
    networks:
      - homelabctl-net

  immich-machine-learning:
    image: ghcr.io/immich-app/immich-machine-learning:release
    container_name: immich-machine-learning
    restart: unless-stopped
    volumes:
      - {{index . "data_dir"}}/model-cache:/cache
    networks:
      - homelabctl-net

  immich-db:
    image: tensorchord/pgvecto-rs:pg16-v0.2.0
    container_name: immich-db
    restart: unless-stopped
    environment:
      - POSTGRES_DB=immich
      - POSTGRES_USER=immich
      - POSTGRES_PASSWORD={{index . "db_password"}}
      - POSTGRES_INITDB_ARGS=--data-checksums
    volumes:
      - {{index . "data_dir"}}/db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U immich"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - homelabctl-net

  immich-redis:
    image: redis:7-alpine
    container_name: immich-redis
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - homelabctl-net

networks:
  homelabctl-net:
    external: true
